<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

<header class="cd-auto-hide-header" style='background-color:#ff5050'>
    <div class="logo"><a href="/"><h5><b>Muri Manga Reader</b></h5></a></div>

    <nav class="cd-primary-nav">
        <a href="#cd-navigation" class="nav-trigger">
            <span>
                <em aria-hidden="true"></em>
                Menu
            </span>
        </a> <!-- .nav-trigger -->

        <ul id="cd-navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/batoto/searchResults">Search Manga</a></li>
        </ul>
    </nav> <!-- .cd-primary-nav -->
</header> <!-- .cd-auto-hide-header -->

<main class="cd-main-content">


<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Search For Mangas</h1>
    </div>
    <form id="search" method="get" action="http://dokidoki.duckdns.org:8080/batoto/searchResults">
        <input type="text" id="searchKeyword" name="searchKeyword">
        <input type="submit" >
    </form>
    <% if(manga) { %>
    <h3> Please press the "Link to Singular Page" for testing, thanks </h3>
    <table id="myTable">
      <tr>
        <th> Manga Name </th>
        <th> Link to Singular Page </th>
        <th> Manga Url </th>
        <th> Author </th>
        <th> Last Updated </th>
      </tr>
        <% manga.forEach(function(item, index) { %>
          <tr>
            <td> <%= item.mangaName %> </td>
            <td> <a href="./manga/<%= item.mangaUrl %>"> <%= item.mangaUrl %> </a> </td>
            <td> <a href="http://bato.to/comic/_/comics/<%= item.mangaUrl %>"> http://bato.to/comic/_/comics/<%= item.mangaUrl %></a> </td>
            <td> <%= item.author %> </td>
            <td> <%= item.lastUpdated %> </td>
          </tr>
        <% }); %>
    </table>
    <% } %>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
    if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="/js/navbar.js"></script>
</main>

</body>
</html>
