<!--
user: Contains user information for header
  can be null
manga: contains general information about the manga
  cannot be null
userManga: contains information the USER had about the manga ( this means that the USER fav'd it in the past)
  can be null
-->


<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title><%= manga.mangaName %></title>
    <% include ./head.ejs %>
    <style>
        body        { padding-top:80px; }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>

      var tpl = '<% if(locals.userManga){ %>foo defined<% }else{ %>foo undefined<% } %>';
      console.log(tpl);



    </script>
</head>
<body>
  <% include ./header.ejs %>

<main class="cd-main-content">
<div class="container">
    <div class="jumbotron text-center">
        <h1><img src="<%= manga.mangaImageUrl %>" style="height:200px"><%= manga.mangaName %></h1>
    </div>
    <div>
      <!-- if user is logged in spawn the favourite set -->
      <% if(locals.user) { %>
        <button id='unFav' type="button"><h2>⭐ Remove from favourites</h2></button>
        <button id='fav' type="button"><h2>☆ Add to favourites</h2></button>
      <% } %>

    <table id="myTable">
      <tr>
        <th> Manga Name </th>
        <th> Manga Url </th>
        <th> Author </th>
        <th> Genres </th>
        <th> Last Updated </th>
      </tr>
          <tr>
            <td> <%= manga.mangaName %> </td>
            <td> <a href="http://bato.to/comic/_/<%= manga.mangaUrl %>"> <%= manga.mangaUrl %></a> </td>
            <td> <%= manga.author %> </td>
            <td> <%= manga.genres %> </td>
            <td> <%= manga.lastUpdated %> </td>
          </tr>
    </table>
    <h5> Manga Description: </h5>
    <p> <%= manga.mangaDesc %> </p>
    <h3> Chapters </h3>
    <h4> Click chapter names to read </h4>
    <table>
      <tr>
        <th>Chapter Name</th>
        <th>Modified Chapter</th>
        <th> Bato.to Link </th>
        <th>Date</th>
        <th>Sort</th>
      </tr>
      <% manga['chapters'].forEach(function(item, index) { %>
        <% if(!(typeof userManga === 'undefined')) { 
          var dateu = new Date(); 
          dateu.setDate(dateu.getDate() - 1);
        %>
        <% if ( (userManga.chapters.indexOf(item.chapterUrl)) > -1 ) {%>
            <tr style="background-color: lightblue;">
              <% } else { %>
            <tr>
          <% } %>
        <% } else { %>
          <tr>
            <% } %>
          <td> <a href="http://dokidoki.duckdns.org:8080/batoto/manga/<%= manga.mangaUrl %>/<%=item.chapterUrl %>"> <%= item.chapterName %> </td>
          <td> <a href="http://dokidoki.duckdns.org:8080/batoto/manga/<%= manga.mangaUrl %>/<%=item.chapterUrl %>?mod=true">Read Modified</td>
          <td> <a href="http://bato.to/reader#<%= item.chapterUrl %>"> <%= item.chapterUrl %> </a> </td>
          <td> <%= item.date.toLocaleString() %><% if( Date.parse(item.date) > dateu ) { %> <mark>NEW</mark> <% } %>  </td>
          <td> <%= item.sort %> </td>
        </tr>
      <% }); %>
    </table>
</div>
</main>
<script>
<% if(locals.user) { %>
    var sockets = io.connect('http://dokidoki.duckdns.org:8080');
    var tpl = '<% if(locals.userManga){ %>foo defined<% }else{ %>foo undefined<% } %>';
    if(<% if(locals.userManga)  { %> <%= true %> <% } else { %> <%= false %> <% } %> ) {
      $('#fav').hide();
      $('#unFav').show();
    }
    else {
      $('#unFav').hide();
      $('#fav').show();
    }
    $( document ).ready(function() {
      $('#fav').click(function() {
        console.log('Fav');
        sockets.emit('fav', window.location.href, "<%= user.google.id %>");
      })
      $('#unFav').click(function() {
        sockets.emit('unFav', window.location.href, "<%= user.google.id %>");
        console.log('unFav');
      })
    })
    sockets.on('fav', function(val) {
      $('#fav').hide();
      $('#unFav').show();
    })
    sockets.on('unfav', function(val) {
      $('#fav').hide();
      $('#unFav').show();
    })
    <% } %>
</script>
</body>
</html>
