<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title><%= manga.mangaName %></title>
    <% include ./head.ejs %>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <% include ./header.ejs %>

<main class="cd-main-content">
<div class="container">
    <div class="jumbotron text-center">
        <h1><img src="<%= manga.mangaImageUrl %>" style="height:200px"><%= manga.mangaName %></h1>
    </div>
    <div>
      <% if(user) { %> 
      <p> <span>☆⭐</span>
        <a href="http://dokidoki.duckdns.org:8080/batoto/manga/<%= manga.mangaUrl %>?fav=true">Favourite?</a>
      </p>
      <% } %>
    <table id="myTable">
      <tr>
        <th> Manga Name </th>
        <th> Manga Url </th>
        <th> Author </th>
        <th> Genres </th>
        <th> Last Updated </th>
      </tr>
          <tr>
            <td> <%= manga.mangaName %> </td>
            <td> <a href="http://bato.to/comic/_/<%= manga.mangaUrl %>"> <%= manga.mangaUrl %></a> </td>
            <td> <%= manga.author %> </td>
            <td> <%= manga.genres %> </td>
            <td> <%= manga.lastUpdated %> </td>
          </tr>
    </table>
    <h5> Manga Description: </h5>
    <p> <%= manga.mangaDesc %> </p>
    <h3> Chapters </h3>
    <h4> Click chapter names to read </h4>
    <table>
      <tr>
        <th>Chapter Name</th>
        <th>Modified Chapter</th>
        <th>Chapter Url </th>
        <th>Date</th>
        <th>Sort</th>
      </tr>
      <% manga['chapters'].forEach(function(item, index) { %>
        <% if(!(typeof read === 'undefined')) { %>
        <% if ( (read.indexOf(item.chapterUrl)) > -1 ) {%>
            <tr style="background-color: lightblue;">
              <% } else { %>
            <tr>
          <% } %>
        <% } else { %>
          <tr>
            <% } %>
          <td> <a href="http://dokidoki.duckdns.org:8080/batoto/manga/<%= manga.mangaUrl %>/<%=item.chapterUrl %>"> <%= item.chapterName %> </td>
          <td> <a href="http://dokidoki.duckdns.org:8080/batoto/manga/<%= manga.mangaUrl %>/<%=item.chapterUrl %>?mod=true"> <%= item.chapterName %> </td>
          <td> <a href="http://bato.to/reader#<%= item.chapterUrl %>"> http://bato.to/reader#<%= item.chapterUrl %></a> </td>
          <td> <%= item.date %> </td>
          <td> <%= item.sort %> </td>
        </tr>
      <% }); %>
    </table>
</div>
</main>
</body>
</html>
