<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Test</title>
    <% include ./head.ejs %>
    <style>
        body        { padding-top:80px; }
        img {
          background: url('/img/loading.gif') no-repeat;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
<script>
    $( document ).ready(function() {
      console.log("Ready")
      $('input[type=range]').on('input', function () {
        var tmpVal = $("input[type=range]").val();
        console.log(tmpVal);
        $('.mangaPage').attr('style', 'width:' + tmpVal + '%')
      });
      $('#image<%= data.pagesCount%>').on('appear', function(event, $all_appeared_elements) {
      // this element is now inside browser viewport
        console.log('Appear Worked');
      });
/*
      <% if(user) { %>

      $('.mangaPage').attr('style', "width:<%= user.pageWidth %>%")
      $('input[type=range]').val("<%= user.pageWidth %>")

      $('#saveWidth').click(function () {
        console.log('saveWidth Clicked');
        var tmpVal = $("input[type=range]").val();
        sockets.emit('widthChange', tmpVal, "<%=user.google.id %>");
      })
      <% } %>
      */
    });
    //Super lazy fix since I don't really check for file extension when I find the images
    var imageFix = function(element) {
      console.log('Fixing:' + element.src);
      var filetype = element.src.split('.')[3];
      if(filetype == 'png') {
        element.src = element.src.split('.png')[0] + '.jpg';
      }
      else if(filetype == 'jpg') {
        element.src = element.src.split('.jpg')[0] + '.jpeg';
      }
      else if(filetype == 'jpeg') {
        element.src = element.src.split('.jpeg')[0] + '.png';
      }
    }
<!--/*
    <% if(user) { %>
    var sockets = io.connect('http://dokidoki.duckdns.org:8080');

    //If user is on the bottom of the page, he's probably finished reading the chapter
    var marked = false;
    $(window).scroll(function(){
      if(!marked) {
        if($(window).scrollTop() + 1000 > $(document).height() - $(window).height() ){
          marked = true;
          console.log("Sending chapter read");
          console.log(window.location.href);
          sockets.emit('chapterRead', window.location.href, "<%= user.google.id %>");
        }
      }
    })
    <% } %>

    -->*/
</script>


</head>
<body>
  <% include ./header.ejs %>

<main class="cd-main-content">

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> <%= data.chapterName %> </h1>
    </div>

<p> <%= data.firstImage %> </p>

<p> <%= data.pagesCount %> </p>
<% if(data.previousPage) { %>
<p> <a href='./<%= data.previousPage.split('#')[1] %>'> Previous Chapter </a> </p>
<% } %>
<% if(data.nextPage) { %>
<p><a href='./<%= data.nextPage.split('#')[1] %>'> Next Chapter </a> </p>
<% } %>

</div>


<% 
  var tmp = data.firstImage.split('img0000');
  var page = 0;
  for(var i = 1; i < (data.pagesCount + 1); i++) {
%>
  <div style="background-color:black;text-align:right"><span style="color:white"> <b><%= i %> / <%= data.pagesCount %></b> </span></div>
<%
    if(i < 10) { 
%>
    <img id="image<%= i %>" class='mangaPage center' style='width:100%' src='<%= tmp[0] %>img00000<%= i %>.png' onerror="imageFix(this);">

<%
  }
  else {
%>
    <img id="image<%= i %>" class='mangaPage center' style='width:100%' src='<%= tmp[0] %>img0000<%= i %>.png' onerror="imageFix(this);">
<% } 
} %>
<div style="display: in-line">
<% if(data.previousPage) { %>
<a href="./<%= data.previousPage.split('#')[1] %>"> 
<button style="width:40%;height:300px" type="button">
<h2>Previous Chapter</h2>
</button></a>
<% } %>
<a href="./"><button style="width:19%;height:300px" type="button"><h2>Back to manga</h2></button></a>
<% if(data.nextPage) { %>
<a href="./<%= data.nextPage.split('#')[1] %>"> 
<button style="width:40%;height:300px" type="button">
<h2>Next Chapter</h2>
</button></a>
<% } %>

</div>

</main>
</body>
</html>
