<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

<header class="cd-auto-hide-header" style='background-color:#1aff66'>
    <div class="logo"><a href="/"><h5><b>Muri Manga Reader</b></h5></a></div>

    <nav class="cd-primary-nav">
        <a href="#cd-navigation" class="nav-trigger">
            <span>
                <em aria-hidden="true"></em>
                Menu
            </span>
        </a> <!-- .nav-trigger -->

        <ul id="cd-navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/batoto/searchResults">Search Manga</a></li>
            <li><a href="./">Back to manga</a></li>
            <% if(data.previousPage) { %>
            <li> <a href='./<%= data.previousPage.split('#')[1] %>?mod=true'> Previous Chapter </a> </li>
            <% } %>
            <% if(data.nextPage) { %>
            <li><a href='./<%= data.nextPage.split('#')[1] %>?mod=true'> Next Chapter </a> </li>
            <% } %>
            <li> Manga Page Zoom % <br/> <input id='slider' type="range" value="100"> </li>
        </ul>
    </nav> <!-- .cd-primary-nav -->
</header> <!-- .cd-auto-hide-header -->

<main class="cd-main-content">

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>MODDED <%= data.chapterName %> </h1>
    </div>
  </p>

<p> <%= data.firstImage %> </p>

<p> <%= data.pagesCount %> </p>
<% if(data.previousPage) { %>
<p> <a href='./<%= data.previousPage.split('#')[1] %>'> Previous Chapter </a> </p>
<% } %>
<% if(data.nextPage) { %>
<p><a href='./<%= data.nextPage.split('#')[1] %>'> Next Chapter </a> </p>
<% } %>

</div>


<% var tmp = data.firstImage.split('img0000');
var page = 0;
for(var i = 1; i < (data.pagesCount + 1); i++) {
if(i < 10) { %>
  <img  class='mangaPage center' style='width:100%' src='<%= tmp[0] %>img00000<%= i %>.png' onerror="imageFix(this);">
  <%
}
else {
    %>
  <img class='mangaPage center' style='width:100%' src='<%= tmp[0] %>img0000<%= i %>.png' onerror="imageFix(this);">
  <%
}
  %>
  <%
}%>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
    if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
    $('input[type=range]').on('input', function () {
      //$(this).trigger('change');
      var tmp = $("input[type=range]").val();
      console.log(tmp);
      $('.mangaPage').attr('style', 'width:' + tmp + '%')
    });
    var imageFix = function(element) {
      console.log('Fixing:' + element.src);
      var filetype = element.src.split('.')[3];
      if(filetype == 'png') {
        element.src = element.src.split('.png')[0] + '.jpg';
      }
      else if(filetype == 'jpg') {
        element.src = element.src.split('.jpg')[0] + '.jpeg';
      }
      else if(filetype == 'jpeg') {
        element.src = element.src.split('.jpeg')[0] + '.png';
      }

    }
</script>
<script src="/js/navbar.js"></script>




</body>
</html>
